@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
  @model IEnumerable<CustomerUI.Models.Customer>  
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


    @foreach (var item in Model)
            {
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

